{% load static %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'feed/style.css' %}">
</head>

<body>

    <nav>
        <div class="nav-wrapper blue">
          <a href="/" class="brand-logo">Twittr</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
              <li><a href="/{{ user.username }}">{{ user.username }}</a></li>
              <li>
                <button data-target="tweet-nav" class="modal-trigger">
                  Tweet
                </button>
              </li>
              <li><a href='/logout'>Log out</a></li>
            {% else %}      
              <li><a href='/login'>Log in</a></li>
              <li><a href='/register'>Register</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>  
    
    {% if tweet_form %}
    <div class="modal" id="tweet-nav">
      <form method="POST">
        {% csrf_token %}
        {{ tweet_form }}
        <button type="submit">Tweet</button>
      </form>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>