{% extends 'feed/base.html' %}

{% block content %}

{% if user.is_authenticated %}
  <h4>{{ user.username }}'s Feed</h4>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Tweet</button>
  </form>
{% else %}      
  <p>Log in or Register!</p>
{% endif %}      

{% if feed_tweets %}
<table>
  <h6>Feed:</h6>
  {% for tweet in feed_tweets %}
      <tr>
          <td><a href="/{{ tweet.tweet_author }}">{{ tweet.tweet_author }}</a></td>
          <td>{{ tweet.tweet_content }}</td>
          <td>{{ tweet.date_posted }}</td>
      </tr>
  {% endfor %}
  </table>
{% endif %}

{% endblock %}