{% extends 'feed/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
  {% if user.profile.picture %}
    <img src="{{ user.profile.picture.url }}" width=100 />
  {% else %}
    <img src="{% static 'feed/images/twittr_egg.jpg' %}" width=100 />
  {% endif %}
  <h4>{{ user.username }}'s Feed</h4>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Tweet</button>
  </form>
{% else %}      
  <p>Log in or Register!</p>
{% endif %}      

{% if feed_tweets %}
<table>
  Feed:
  {% for tweet in feed_tweets %}
      <tr>
          <td><a href="/{{ tweet.tweet_author }}">{{ tweet.tweet_author }}</a></td>
          <td>{{ tweet.tweet_content }}</td>
          <td>
            <form method="POST">
              {% csrf_token %}
              <button type="submit" name="like" value="{{ tweet }}">Likes</button>
            </form>
            {{ tweet.like_set.all.count }} 
          </td>
          <td>{{ tweet.date_posted }}</td>
          {% if tweet.tweet_author == user %}
          <td><a href="/delete/{{ tweet.id }}/feed">Delete</a></td>
          {% endif %}
      </tr>
  {% endfor %}
  </table>
{% endif %}

{% endblock %}