{% extends 'feed/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
  {% if user.profile.picture %}
    <img src="{{ user.profile.picture.url }}" width=100 />
  {% else %}
    <img src="{% static 'feed/images/twittr_egg.jpg' %}" width=100 />
  {% endif %}
  <h4>{{ user.username }}'s Feed</h4>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Tweet</button>
  </form>
{% else %}      
  <p>Log in or Register!</p>
{% endif %}      

{% if feed_tweets %}
<table class="highlight">
  Feed:
  {% for tweet in feed_tweets %}
      <tr>
        <td>
          <a href="/{{ tweet.tweet_author }}">
            {{ tweet.tweet_author }}
          </a>
        </td>
        <td>
          {{ tweet.tweet_content }}
        </td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <button type="submit" class="" name="like" value="{{ tweet }}">
              {{ tweet.like_set.all.count }} Likes
            </button>
          </form> 
        </td>
        <td>
          <button data-target="tweet{{ tweet.id }}" class="modal-trigger">
            {{ tweet.reply_set.all.count }} Replies
          </button>
        </td>
        <td>
          {{ tweet.date_posted }}
        </td>
        {% if tweet.tweet_author == user %}
        <td>
          <a href="/delete/{{ tweet.id }}/feed">
            Delete
          </a>
        </td>
        {% endif %}
      </tr>
  {% endfor %}
</table>

<!-- Modal Feed -->
{% for tweet in feed_tweets %}
  <div class="modal" id="tweet{{ tweet.id }}">
    <!-- OP Tweet -->
    <table class="highlight">
      <tr>
        <td>
          <a href="/{{ tweet.tweet_author }}">
            {{ tweet.tweet_author }}
          </a>
        </td>
        <td>
          {{ tweet.tweet_content }}
        </td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <button type="submit" name="like" value="{{ tweet }}">
              {{ tweet.like_set.all.count }} Likes
            </button>
          </form> 
        </td>
        <td>
          <button data-target="tweet{{ tweet.id }}" class="modal-trigger">
            {{ tweet.reply_set.all.count }} Replies
          </button>
        </td>
        <td>
          {{ tweet.date_posted }}
        </td>
        {% if tweet.tweet_author == user %}
        <td>
          <a href="/delete/{{ tweet.id }}/feed">
            Delete
          </a>
        </td>
        {% endif %}
      </tr>
    </table>
    <!-- Replies -->
    <table class="highlight">
      {% if tweet.reply_set.all %}
      {% for reply in tweet.reply_set.all %}
      <tr>
        <td>
          <a href="/{{ reply.user }}">
            {{ reply.user }}
          </a>
        </td>
        <td>
          {{ reply.reply_content }}
        </td>
        <td>
          <form method="POST">
            {% csrf_token %}
            <button type="submit" name="like" value="{{ reply }}">
              {{ reply.likereply_set.all.count }} Likes
            </button>
          </form> 
        </td>
        <td>
          {{ reply.date_posted }}
        </td>
        <td>
          {% if reply.user == user %}
          <a href="/delete/{{ reply.id }}/feed">
            Delete
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit" name="reply" value="{{ tweet }}">
        Reply
      </button>
    </form>
  </div>
{% endfor %}
{% endif %}
<script>
    $(document).ready(function(){
      $('.modal').modal();
      {% if op_tweet_id %}
        $('#tweet{{ op_tweet_id}}').modal('open');
      {% endif %}
    });
</script>
{% endblock %}