{% extends 'feed/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    {% if profile.profile.picture %}
        <img src="{{ profile.profile.picture.url }}" width=100 />
        {% if user.username == profile.username %}
        <form method="POST">
            {% csrf_token %}
            {{ image_form }}
            <!-- <input type='file' accept='image' name='change-pic' value="Change Picture" /> -->
            <p><input type="submit" name='upload-pic' value="Upload" /></p>
        </form>
        {% endif %}
    {% else %}
        <img src="{% static 'feed/images/twittr_egg.jpg' %}" width=100 />
        {% if user.username == profile.username %}
        <form method="POST">
            {% csrf_token %}
            {{ image_form }}
            <!-- <input type='file' accept='image' name='change-pic' value="Change Picture" /> -->
            <p><input type="submit" name='upload-pic' value="Upload" /></p>
        </form>
        {% endif %}
    {% endif %}
    <h4>{{ profile.username }}'s Profile</h4>
    {% if profile.profile.bio %}
        <p>{{ profile.profile.bio }}</p>
        {% if user.username == profile.username %}
        <form method="POST">
            {% csrf_token %}
            <input type="submit" name='edit-bio' value="Edit Bio" />
        </form>
        {% endif %}
    {% else %}
    <form method="POST">
        {% csrf_token %}
        {{ profile_form }}
        <input type="submit" name='add-bio' value="Add Bio" />
    </form>
    {% endif %}
{% endif %}

{% if user.username != profile.username %}
    <form method="POST">
        {% csrf_token %}
        {% if user_following_profile %}
            <input type='submit' name='unfollow' value='Unfollow' />
        {% else %}
            <input type='submit' name='follow' value='Follow' />
        {% endif %}
    </form>
{% endif %}

{% if tweets %}
    <table class="highlight">
    Tweets ({{ tweets.count }}):
    {% for tweet in tweets reversed %}
        <tr>
            <td>
                {% if tweet.tweet_author.profile.picture %}
                <img src="{{ tweet.tweet_author.profile.picture.url }}" width=30 />
                {% else %}
                <img src="{% static 'feed/images/twittr_egg.jpg' %}" width=30 />
                {% endif %}
                <a href="/{{ tweet.tweet_author }}">
                    {{ tweet.tweet_author }}
                </a>
            </td>
            <td>
                {{ tweet.tweet_content }}
            </td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="like" value="{{ tweet.pk }}">
                        {{ tweet.like_set.all.count }} Likes
                    </button>
                </form>
            </td>
            <td>
                <button data-target="tweet{{ tweet.pk }}" class="modal-trigger">
                    {{ tweet.reply_set.all.count }} Replies
                </button>
            </td>
            <td>
                {{ tweet.date_posted }}
            </td>
            {% if tweet.tweet_author == user %}
            <td>
                <a href="/delete/{{ tweet.pk }}/{{ user.username }}">
                    Delete
                </a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>{{ profile.username }} has not tweeted yet.</p>
{% endif %}

{% if following %}
    <table>
    Following ({{ following.count }}):
    {% for follow in following %}
        <tr>
            <td><a href="/{{ follow.followed }}">{{ follow.followed }}</a></td>
        </tr>    
    {% endfor %}
    </table>
{% else %}
    <p>{{ profile.username }} is not following anyone.</p>
{% endif %}

{% if followers %}
    <table>
    Followers ({{ followers.count }}):
    {% for follower in followers %}
        <tr>
            <td><a href="/{{ follower.follower }}">{{ follower.follower }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>{{ profile.username }} has no followers.</p>
{% endif %}

<!-- Modal Feed -->
{% for tweet in tweets reversed %}
    <div class="modal" id="tweet{{ tweet.pk }}">
        <!-- OP Tweet -->
        <table class="highlight">
            <tr>
                <td>
                    {% if tweet.tweet_author.profile.picture %}
                    <img src="{{ tweet.tweet_author.profile.picture.url }}" width=30 />
                    {% else %}
                    <img src="{% static 'feed/images/twittr_egg.jpg' %}" width=30 />
                    {% endif %}
                    <a href="/{{ tweet.tweet_author }}">
                        {{ tweet.tweet_author }}
                    </a>
                </td>
                <td>
                    {{ tweet.tweet_content }}
                </td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" name="like" value="{{ tweet.pk }}">
                        {{ tweet.like_set.all.count }} Likes
                        </button>
                    </form> 
                </td>
                <td>
                    <button data-target="tweet{{ tweet.pk }}" class="modal-trigger">
                        {{ tweet.reply_set.all.count }} Replies
                    </button>
                </td>
                <td>
                    {{ tweet.date_posted }}
                </td>
                {% if tweet.tweet_author == user %}
                <td>
                    <a href="/delete/{{ tweet.pk }}/{{ user.username }}">
                        Delete
                    </a>
                </td>
                {% endif %}
            </tr>
        </table>
        <!-- Replies -->
        <table class="highlight">
            {% if tweet.reply_set.all %}
            {% for reply in tweet.reply_set.all %}
            <tr>
                <td>
                    {% if reply.user.profile.picture %}
                    <img src="{{ reply.user.profile.picture.url }}" width=30 />
                    {% else %}
                    <img src="{% static 'feed/images/twittr_egg.jpg' %}" width=30 />
                    {% endif %}
                    <a href="/{{ reply.user }}">
                        {{ reply.user }}
                    </a>
                </td>
                <td>
                    {{ reply.reply_content }}
                </td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" name="like-reply" value="{{ reply.pk }}">
                        {{ reply.likereply_set.all.count }} Likes
                        </button>
                    </form> 
                </td>
                <td>
                    {{ reply.date_posted }}
                </td>
                <td>
                    {% if reply.user == user %}
                    <a href="/delete_reply/{{ reply.pk }}/{{ tweet.pk }}/{{ user.username}}">
                        Delete
                    </a>
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            {% endif %}
        </table>
        <form method="POST">
            {% csrf_token %}
            {{ tweet_form }}
            <button type="submit" name="reply" value="{{ tweet.pk }}">
                Reply
            </button>
        </form>
    </div>
{% endfor %}

<script>
    $(document).ready(function(){
        $('.modal').modal();
        {% if op_tweet_pk %}
        $('#tweet{{ op_tweet_pk}}').modal('open');
        {% endif %}
    });
</script>

{% endblock %}