{% extends 'feed/base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
    {% if profile.profile.picture %}
        <img src="{{ profile.profile.picture.url }}" width=100 />
        {% if user.username == profile.username %}
        <form method="POST">
            {% csrf_token %}
            {{ image_form }}
            <!-- <input type='file' accept='image' name='change-pic' value="Change Picture" /> -->
            <p><input type="submit" name='upload-pic' value="Upload" /></p>
        </form>
        {% endif %}
    {% else %}
        <img src="{% static 'feed/images/twittr_egg.jpg' %}" width=100 />
        {% if user.username == profile.username %}
        <form method="POST">
            {% csrf_token %}
            {{ image_form }}
            <!-- <input type='file' accept='image' name='change-pic' value="Change Picture" /> -->
            <p><input type="submit" name='upload-pic' value="Upload" /></p>
        </form>
        {% endif %}
    {% endif %}
    <h4>{{ profile.username }}'s Profile</h4>
    {% if profile.profile.bio %}
        <p>{{ profile.profile.bio }}</p>
        {% if user.username == profile.username %}
        <form method="POST">
            {% csrf_token %}
            <input type="submit" name='edit-bio' value="Edit Bio" />
        </form>
        {% endif %}
    {% else %}
    <form method="POST">
        {% csrf_token %}
        {{ profile_form }}
        <input type="submit" name='add-bio' value="Add Bio" />
    </form>
    {% endif %}
{% endif %}

{% if user.username != profile.username %}
    <form method="POST">
        {% csrf_token %}
        {% if user_following_profile %}
            <input type='submit' name='unfollow' value='Unfollow' />
        {% else %}
            <input type='submit' name='follow' value='Follow' />
        {% endif %}
    </form>
{% endif %}

{% if tweets %}
    <table class="highlight">
    Tweets ({{ tweets.count }}):
    {% for tweet in tweets reversed %}
        <tr>
            <td><a href="/{{ tweet.tweet_author }}">{{ tweet.tweet_author }}</a></td>
            <td>{{ tweet.tweet_content }}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="like" value="{{ tweet }}">Likes</button>
                </form>
                {{ tweet.like_set.all.count }} 
            </td>
            <td>{{ tweet.date_posted }}</td>
            {% if tweet.tweet_author == user %}
            <td><a href="/delete/{{ tweet.id }}/{{ user.username }}">Delete</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>{{ profile.username }} has not tweeted yet.</p>
{% endif %}

{% if following %}
    <table>
    Following ({{ following.count }}):
    {% for follow in following %}
        <tr>
            <td><a href="/{{ follow.followed }}">{{ follow.followed }}</a></td>
        </tr>    
    {% endfor %}
    </table>
{% else %}
    <p>{{ profile.username }} is not following anyone.</p>
{% endif %}

{% if followers %}
    <table>
    Followers ({{ followers.count }}):
    {% for follower in followers %}
        <tr>
            <td><a href="/{{ follower.follower }}">{{ follower.follower }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>{{ profile.username }} has no followers.</p>
{% endif %}

{% endblock %}