{% extends 'feed/profile_base.html' %}
{% load static %}

{% block content %}

{% if tweets %}
    <table class="highlight">
    <a href='/{{ profile.username }}' style='font-weight:bold;font-size:15px;'>
        Tweets ({{ tweets.count }})
    </a> |
    <a href='/{{ profile.username }}/following'>
        Following ({{ following.count }})
    </a> |
    <a href='/{{ profile.username }}/followers'>
        Followers ({{ followers.count }})
    </a>
    {% for tweet in tweets reversed %}
        <tr>
            <td>
                {% if tweet.tweet_author.profile.picture %}
                <img src="{{ tweet.tweet_author.profile.picture.url }}" width=30 />
                {% else %}
                <img src="{% static 'feed/images/twittr_egg.jpg' %}" width=30 />
                {% endif %}
                <a href="/{{ tweet.tweet_author }}">
                    {{ tweet.tweet_author }}
                </a>
            </td>
            <td>
                {{ tweet.tweet_content }}
            </td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="like" value="{{ tweet.pk }}">
                        {{ tweet.like_set.all.count }} Likes
                    </button>
                </form>
            </td>
            <td>
                <button data-target="tweet{{ tweet.pk }}" class="modal-trigger">
                    {{ tweet.reply_set.all.count }} Replies
                </button>
            </td>
            <td>
                {{ tweet.date_posted }}
            </td>
            {% if tweet.tweet_author == user %}
            <td>
                <a href="/delete/{{ tweet.pk }}/{{ user.username }}">
                    Delete
                </a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <a href='/{{ profile.username }}' style='font-weight:bold;font-size:15px;'>
        Tweets ({{ tweets.count }})
    </a> |
    <a href='/{{ profile.username }}/following'>
        Following ({{ following.count }})
    </a> |
    <a href='/{{ profile.username }}/followers'>
        Followers ({{ followers.count }})
    </a>
    <p>{{ profile.username }} has not tweeted yet.</p>
{% endif %}

<!-- Modal Feed -->
{% for tweet in tweets reversed %}
    <div class="modal" id="tweet{{ tweet.pk }}">
        <!-- OP Tweet -->
        <table class="highlight">
            <tr>
                <td>
                    {% if tweet.tweet_author.profile.picture %}
                    <img src="{{ tweet.tweet_author.profile.picture.url }}" width=30 />
                    {% else %}
                    <img src="{% static 'feed/images/twittr_egg.jpg' %}" width=30 />
                    {% endif %}
                    <a href="/{{ tweet.tweet_author }}">
                        {{ tweet.tweet_author }}
                    </a>
                </td>
                <td>
                    {{ tweet.tweet_content }}
                </td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" name="like" value="{{ tweet.pk }}">
                        {{ tweet.like_set.all.count }} Likes
                        </button>
                    </form> 
                </td>
                <td>
                    <button data-target="tweet{{ tweet.pk }}" class="modal-trigger">
                        {{ tweet.reply_set.all.count }} Replies
                    </button>
                </td>
                <td>
                    {{ tweet.date_posted }}
                </td>
                {% if tweet.tweet_author == user %}
                <td>
                    <a href="/delete/{{ tweet.pk }}/{{ user.username }}">
                        Delete
                    </a>
                </td>
                {% endif %}
            </tr>
        </table>
        <!-- Replies -->
        <table class="highlight">
            {% if tweet.reply_set.all %}
            {% for reply in tweet.reply_set.all %}
            <tr>
                <td>
                    {% if reply.user.profile.picture %}
                    <img src="{{ reply.user.profile.picture.url }}" width=30 />
                    {% else %}
                    <img src="{% static 'feed/images/twittr_egg.jpg' %}" width=30 />
                    {% endif %}
                    <a href="/{{ reply.user }}">
                        {{ reply.user }}
                    </a>
                </td>
                <td>
                    {{ reply.reply_content }}
                </td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" name="like-reply" value="{{ reply.pk }}">
                        {{ reply.likereply_set.all.count }} Likes
                        </button>
                    </form> 
                </td>
                <td>
                    {{ reply.date_posted }}
                </td>
                <td>
                    {% if reply.user == user %}
                    <a href="/delete_reply/{{ reply.pk }}/{{ tweet.pk }}/{{ user.username}}">
                        Delete
                    </a>
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            {% endif %}
        </table>
        <form method="POST">
            {% csrf_token %}
            {{ tweet_form }}
            <button type="submit" name="reply" value="{{ tweet.pk }}">
                Reply
            </button>
        </form>
    </div>
{% endfor %}

{% endblock %}