/* ********************************************** */
/*                     GLOBAL                     */
/* ********************************************** */

html,body {
    min-width: 1250px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E1E8ED;
    text-align: center;
}

img {
    border-radius: 50%;
}

a {
    color: black;
}

a:hover {
    color: #1DA1F2;
    text-decoration: underline;
}


/* ********************************************** */
/*                     NAVBAR                     */
/* ********************************************** */

.navbar {
    height: 46px;
}

nav {
    background-color: #F5F8FA;
    box-shadow: none;
    border-bottom: 1px solid #707f8b9f;
}

.nav-inner-wrap {
    display: table;
    margin: 0 auto;
}

.nav-inner-wrap .nav-ul-1 {
    float: left;
    padding-right: 628px;
}

.nav-inner-wrap .nav-ul-2 {
    float: right;
}

.home-btn {
    height: 46px;
    position: relative;
    bottom: 18px;
}

.nav-wrapper .home-btn a {
    height: 64px;
    font-weight: bold;
    position: relative;
    bottom: 1px;
    font-size: 13px;
    color: #657786;
}

.nav-wrapper .home-btn a:hover {
    color: #1DA1F2;
    text-decoration: none;
    border-bottom: 2px solid #1DA1F2;
    background-color: #F5F8FA;
}


.nav-wrapper .home-btn i {
    display: inline;
    font-size: 30px;
    position: relative;
    top: 9px;
}

.navbar-logout {
    height: 46px;
    position: relative;
    color: #657786;
}

.navbar-logout a {
    height: 62px;
    font-weight: bold;
    font-size: 13px;
    color: #657786;
    position: relative;
    bottom: 17px;
}

.navbar-logout a:hover {
    color: #1DA1F2;
    background-color: #F5F8FA;
    text-decoration: none;
    border-bottom: 2px solid #1DA1F2;
}

.nav-wrapper .navbar-logout i {
    display: inline-block;
    height: 46px;
    position: relative;
    top: 6px;
}


.navbar-login {
    height: 46px;
    position: relative;
    color: #657786;
    bottom: 15px;
}

.navbar-login a {
    height: 62px;
    position: relative;
    bottom: 2px;
    font-weight: bold;
    font-size: 13px;
    color: #657786;
    position: relative;
}

.navbar-login a:hover {
    color: #1DA1F2;
    text-decoration: none;
    border-bottom: 2px solid #1DA1F2;
    background-color: #F5F8FA;
}

.nav-wrapper .navbar-login i {
    display: inline-block;
    height: 46px;
    position: relative;
    top: 6px;
}


.navbar-register {
    height: 46px;
    position: relative;
    color: #657786;
}

.navbar-register a {
    height: 62px;
    font-weight: bold;
    color: #657786;
    font-size: 13px;
    position: relative;
    bottom: 17px;
}

.navbar-register a:hover {
    color: #1DA1F2;
    background-color: #F5F8FA;
    text-decoration: none;
    border-bottom: 2px solid #1DA1F2;
}

.nav-wrapper .navbar-register i {
    display: inline-block;
    height: 46px;
    position: relative;
    top: 6px;
}

.brand-logo {
    position:relative;
    top: 13px;
}

.nav-ul-2 {
    height: 46px;
}

.search-btn {
    height: 46px;
}

.search-btn form {
    margin-bottom: 0;
}

#search {
    position: relative;
    border: none;
    margin-bottom: 0;
    top: 1px;
    font-size: 13px;
    width: 202px;
    height: 33px;
    border-radius: 25px;
    border: 0.5px solid lightgray;
    background-color: rgba(225, 232, 237, 0.4);
    padding-left: 15px;
}

#search:focus {
    border: 2px solid #1DA1F2;
    background-color: #F5F8FA;
}

.search-input-div {
    color: #657786;
}

.search-input-div {
    height: 40px;
    width: 221px;
    color: #657786;
    position: relative;
    top: 5px;
    border-radius: 25px;
    font-size: 13px;
}

.search-btn-field {
    border: 2px solid black;
    font-size: 12px;
}

.search-btn-field::placeholder {
    font-size: 12px;
    color: #657786; 
    position: relative;
}

.search-btn-field:focus::placeholder {
    color: #6577867c;
}

.navwrapper .search-btn i{
    color: #657786;
    height: 20px;
}


.search-submit-btn {
    border: none;
    background-color: red;
    color: #657786;
    font-size: 12px;
    padding: 0;
    height: 0px;
    width: 0px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    bottom: 30px;
    left: 88px;
}

.search-submit-btn i {
    position: relative;
    bottom: 18px;
    right: 10px;
}

.label-icon i {
    color: #657786;
}
#tweet-nav .feed {
    position: relative;
    left: 35px;
    bottom: 50px;
    margin: 0;
}

#tweet-nav {
    width: 590px;
    height: 157px;
    overflow-y: hidden;
}

.nav-compose-tweet {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    top: 10px;
}

.navbar-profile-link {
    height: 46px;
}

.navbar-profile-link a {
    height: 46px;
    position: relative;
    bottom: 3px;
}

.navbar-profile-link img {
    position: relative;
    top: 11px;
}

.navbar-profile-link a:hover {
    background-color: #F5F8FA;
}

.navbar-tweet-btn {
    height: 46px;
}

.navbar-tweet-btn button {
    position: relative;
    bottom: 8px;
}


/* ********************************************** */
/*                FEED + TIMELINE                 */
/* ********************************************** */

.feed-head-container {
    width: 290px;
}

.feed-blue-bar-head {
    width: 290px;
    position: relative;
    left: 18px;
    top: 10px;
    height: 95px;
    background-color: #1DA1F2;
}

.feed-user-head {
    height: 117px;
    display:inline-block;
    background-color: #F5F8FA;
    position: relative;
    top: 13px;
    left: 18px;
    width: 290px;
    padding: 20px 20px 0px 20px;
}

.feed-user-head img {
    border: 3px solid #F5F8FA;
    position: relative;
    bottom: 50px;
    right: 10px;
}

.feed-user-head h4 {
    display: inline;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    right: 4px;
    bottom: 70px;
}

.feed-user-stats {
    position: relative;
    bottom: 60px;
}

.feed-user-stats p {
    font-weight: bold;
    display: inline-block;
    padding-right: 18px;
}

.feed-user-stats .stats-heading {
    font-size: 13px;
    color: #657786;
}

.feed-user-stats a:hover .stats-heading {
    color: #1DA1F2;
}

.feed-user-stats a:hover {
    text-decoration: none;
}


.feed-user-stats .stats {
    font-size: 19px;
    color: #1DA1F2;
}

.feed {
    background-color: #F5F8FA;
    position: relative;
    bottom: 95px;
    margin-top: 20px;
    width: 590px;
}

.feed-tweet {
    border-bottom: 1px solid lightgray;
    background-color: rgba(29, 160, 242, 0.12);
    height: 110px;
}

.feed-tweet-form {
    display: inline-block;
    height: 75%;
    width: 95%;
    padding-top: 10px;
    margin-left: 5%;
}

.tweet-field {
    border: 1px solid rgba(29, 160, 242, 0.349);
    background-color: #F5F8FA;
    font-size: 16px;
    border-radius: 10px;
    width: 90%;
    display: inline-block;
    height: 60%;
    resize: none;
    outline: none;

}

.tweet-field:focus {
    border: 2px solid rgba(29, 160, 242, 0.5);
}

.feed .tweet-field::placeholder {
    color: #1DA1F2;
    position: relative;
    top: 1px;
    padding-top: 9px;
    padding-left: 6px;
    font-size: 14px;
}

.tweet-field:focus::placeholder {
    color: lightgray;
}

.tweet-btn {
    border: none;
    padding: 0.55rem 1.1rem;
    background-color: rgba(29, 160, 242, 0.815);
    color: #F5F8FA;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 25px;
}

.tweet-btn:hover {
    background-color: #1DA1F2;
}

.tweet-btn:focus {
    background-color: #1DA1F2;
}

.feed .tweet-btn {
    float: right;
    position: relative;
    top: 5px;
    right: 16px;
}


.feed-tweet img {
    position: relative;
    bottom: 5px;
    right: 3px;
}

.feed table {
    width: 590px;
}

.feed table tr {
    border: none;
}

.feed tbody {
    border-bottom: 1px solid lightgray;
}

.timeline-table tbody:hover {
    background-color: rgba(225, 232, 237, 0.31);
}

.timeline-table tbody:hover .timeline-tweet-likes-btn {
    background-color: rgba(225, 232, 237, 0.31);
}

.timeline-table tbody:hover .timeline-tweet-replies-btn {
    background-color: rgba(225, 232, 237, 0.31);
}


.timeline-tweet-row1 {
    height: 30px;
    cursor: pointer;
}

.timeline-tweet-row1 div {
    height: 1px;
    position: relative;
    bottom: 2px;
}

.timeline-tweet-row2 {
    cursor: pointer;
}

.timeline-tweet-row2 div {
    position: relative;
    bottom: 10px;
}

.timeline-tweet-row3 div {
    height: 1px;
    position: relative;
    bottom: 20px;
}

.timeline-tweet-row5 td {
    height: 10px;
}


.timeline-tweet-author {
    font-weight: bold;
}

.timeline-tweet-date {
    font-size: 15px;
    color: #657786;
}

.timeline-tweet-date:hover {
    color: #1DA1F2;
}

.timeline-tweet-content {
    word-wrap:break-word;
    width: 500px;
}

.timeline-tweet-replies-btn {
    border: none;
    padding: 0rem 0rem;
    background-color: #F5F8FA;
    color: #657786;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.timeline-tweet-replies-btn:hover {
    color: rgb(111, 219, 125);
}

.timeline-tweet-replies-btn:focus {
    background-color: rgba(225, 232, 237, 0.31);
}

.timeline-tweet-likes-btn {
    border: none;
    padding: 0rem 0rem;
    background-color: #F5F8FA;
    color: #657786;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    right: 90px; 
}

.timeline-tweet-likes-btn:hover {
    color: red;
}

.timeline-tweet-likes-btn:focus {
    background-color: rgba(225, 232, 237, 0.31);;
}

.timeline-tweet-delete {
    font-size: 10px;
    color: lightgray;
    position: relative;
    top: 1px;
    left: 70px;
}


/* ********************************************** */
/*                     MODAL                      */
/* ********************************************** */

.modal {
    width: 640px;
    padding: 35px;
    background-color: #F5F8FA;
    border-radius: 7px;
    overflow-x: hidden;
}

.modal-tweet-table:hover {
    background-color: #F5F8FA;
}


.timeline-modal-tweet-row1 {
    border-bottom: none;
}

.timeline-modal-tweet-row1 div {
    height: 15px;
}

.timeline-modal-tweet-row2 {
    border-bottom: none;
}

.timeline-modal-tweet-row3 {
    border:none;
}

.timeline-modal-tweet-row3 div {
    height: 1px;
}

.timeline-modal-tweet-row4 {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.timeline-modal-tweet-row4 div {
    height: 20px;
}    

.timeline-modal-tweet-row5 {
    border: none;
}

.timeline-modal-tweet-row5 div { 
    height: 15px;
    position: relative;
    bottom: 10px;
}
  
.timeline-modal-tweet-pic {
    position: relative;
    bottom: 15px;
}

.timeline-modal-tweet-author-date {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    bottom: 28px;
    left: 58px;
}

.timeline-modal-tweet-content {
    width: 550px;
    word-wrap:break-word;
    font-size: 26px;
    cursor: default;
}

.timeline-modal-tweet-date {
    font-size: 14px;
    color: #657786;
    cursor: default;
    position: relative;
    bottom: 19px;
}

.timeline-modal-tweet-stats {
    font-size: 14px;
    color: #657786;
    cursor: default;
    display: inline;
}

.tweet-count {
    color: black;
    font-weight: bold;
}

.timeline-modal-tweet-likeborder {
    border-right: 1px solid lightgray;
    width: 140px;
}

.timeline-modal-like-pics {
    position: relative;
    left: 5px;
}

.timeline-modal-tweet-likes-btn {
    border: none;
    padding: 0rem 0rem;
    background-color: #F5F8FA;
    color: #657786;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.timeline-modal-tweet-likes-btn:hover {
    color: red;
}

.timeline-modal-tweet-likes-btn:focus {
    background-color: rgba(225, 232, 237, 0.31);;
}

.timeline-modal-tweet-delete {
    font-size: 12px;
    color: lightgray;
    position: relative;
    left: 490px;
    top: 10px;
}


/* ********************************************** */
/*                   MODAL POST                   */
/* ********************************************** */

.modal-reply-form-container {
    border-top: 0.5px solid rgba(211, 211, 211, 0.85);
    border-bottom: 0.5px solid rgba(211, 211, 211, 0.85);
    margin: 0 -35px;
    color: #657786;
    padding-bottom: 30px;
    height: 180px;
    background-color: rgba(225, 232, 237, 0.5);
}

.modal-reply-form {
    padding-top: 10px;
    margin: 0 35px;
}

.modal-reply-form .tweet-field::placeholder {
    color: #F5F8FA;
}

.modal-reply-form .tweet-field:focus::placeholder {
    color: #F5F8FA;
}

.modal-reply-form-pic {
    float: left;
    padding-right: 10px;
    position: relative;
    top: 22px;
}

.modal-reply-form .modal-reply-to {
    position: relative;
    right: 170px;
}

.modal-reply-to-user a {
    color: #1DA1F2;
}

.modal-reply-btn {
    border: none;
    padding: 0.6rem 1.1rem;
    background-color: rgba(29, 160, 242, 0.815);
    color: #F5F8FA;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 25px;
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
}

.modal-reply-btn:hover {
    background-color: #1DA1F2;
}

.modal-reply-btn:focus {
    background-color: #1DA1F2;
}

.feed-tweet {
    border-bottom: 1px solid lightgray;
    background-color: rgba(29, 160, 242, 0.12);
    height: 110px;
}

.feed-tweet-form {
    display: inline-block;
    height: 75%;
    width: 95%;
    padding-top: 10px;
    margin-left: 5%;
}

.tweet-field {
    border: 1px solid rgba(29, 160, 242, 0.349);
    background-color: #F5F8FA;
    font-size: 16px;
    border-radius: 10px;
    width: 90%;
    display: inline-block;
    height: 60%;
    resize: none;
    outline: none;

}

.tweet-field:focus {
    border: 2px solid rgba(29, 160, 242, 0.5);
}

.feed .tweet-field::placeholder {
    color: #1DA1F2;
    padding-top: 9px;
    padding-left: 6px;
}

.tweet-field:focus::placeholder {
    color: lightgray;
}


/* ********************************************** */
/*                 MODAL REPLIES                  */
/* ********************************************** */

.modal-replies-container {
    margin: 0 -35px;
    width: 628px;
}

.modal-replies {
    overflow: hidden;
}

.modal-replies tbody {
    border-bottom: 1px solid lightgray;
}

.modal-replies tbody:hover {
    background-color: rgba(225, 232, 237, 0.5);
}

.modal-replies tbody:hover .timeline-tweet-likes-btn {
    background-color: rgba(225, 232, 237, 0.5);
}

.modal-replies tbody:hover .timeline-tweet-replies-btn {
    background-color: rgba(225, 232, 237, 0.5);
}

.modal-replies-row1 {
    border-bottom: none;
}

.modal-replies-row1 .timeline-tweet-pic {
    position: relative;
    padding-left: 22px;
    bottom: 5px;
}

.modal-replies-row2 {
    border-bottom: none;
}

.modal-replies-row2 div {
    position: relative;
    bottom: 32px;
    cursor: default;
}

.modal-replies-row3 div {
    height: 1px;
}

.modal-replies .timeline-tweet-author-date {
    position: relative;
    bottom: 14px;
}

.modal-replies .timeline-tweet-date:hover {
    color: #657786;
    cursor: default;
}

.modal-replies .modal-reply-to {
    color: #657786;
    font-size: 14px;
    cursor: default;
    position: relative;
    bottom: 8px;
}

.modal-reply-likes {
    position: relative;
    bottom: 30px;
    background-color: #F5F8FA;
}

.modal-reply-likes-btn {
    border: none;
    padding: 0rem 0rem;
    background-color: #F5F8FA;
    color: #657786;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 5px;
    -webkit-appearance: none;
}

.modal-reply-likes-btn:hover {
    color: red;
}

.modal-reply-likes-btn:focus {
    background-color: rgba(225, 232, 237, 0.5);
}

.modal-replies tbody:hover .modal-reply-likes-btn {
    background-color: rgba(225, 232, 237, 0.5);
}

.modal-reply-delete {
    font-size: 10px;
    color: lightgray;
    position: relative;
    left: 147px;
}

.feed-container {
    display: inline-block;
    position: relative;
    width: 958px;
    margin-right: 290px;
    padding-left: 7px;
    padding-right: 25px;
}

.feed-user-head {
    background-color: #F5F8FA;
    position: relative;
    margin-top: -3px;
    float:left;
    padding: 20px 20px 0px 20px;
    text-align: left;
}

.feed {
    background-color: #F5F8FA;
    margin-top: 10px;
    margin-left: 30px;
    width: 590px;
    position: relative;
    right: 7px;
    float: right;

}


/* ********************************************** */
/*                  PROFILE TWEETS                */
/* ********************************************** */

.header-container {
    height: 235px;
}


.header-blue-bar {
    height: 175px;
    background-color: #1DA1F2;
}

.header-stats {
    height: 60px;
}

.header-stats-ul li {
    height: 60px;
}

.header-stats li a {
    height: 60px;
    color: #657786;
    font-weight: bold;
    position: relative;
    bottom: 9px;
}

.header-stats li a:hover {
    background-color: #F5F8FA;
    border-bottom: 2px solid #1DA1F2;
    text-decoration: none;
}

.header-stats li a:hover span {
    color: #1DA1F2;
}

.header-stats p {
    height: 30px;
    position: relative;
    bottom: 13px;
    font-size: 12px;
}

.header-stats p span {
    position: relative;
    bottom: 45px;
    font-size: 18px;
    color: #657786;
}

.header-stats p span:hover {
    color: #1DA1F2;
}

.header-stats .profile-tweet-stat a {
    color: #657786;
    font-weight: bold;
}

.profile-tweet-stat {
    margin-left: 630px;
}

.profile-follow-btn {
    height: 60px;
    float: right;
    padding-right: 350px;
}

.follow-btn {
    border: none;
    padding: 0.55rem 1.1rem;
    background-color: rgba(29, 160, 242, 0.815);
    color: #F5F8FA;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 25px;
    position: relative;
    top: 14px;
}

.follow-btn:hover {
    background-color: #1DA1F2;
}

.follow-btn:focus {
    background-color: #1DA1F2;
}

.profile-pic-bio {
    float: left;
    margin-left: 330px;
    position: relative;
    top: 100px;
    height: 10px;
    width: 220px;
}

.profile-pic {
    position: relative;
    bottom: 280px;
    width: 210px;
    border: 5px solid #F5F8FA;
    border-radius: 114px;
}

.profile-pic a {
    cursor: pointer;
}

.profile-bio {
    position: relative;
    bottom: 280px;
    text-align: left;
    word-wrap: break-word;
}

.profile-bio textarea {
    border: 1px solid #1DA1F2;
    border-radius: 10px;
    resize: none;
}

.profile-bio textarea:focus {
    outline: 0;
}

.profile-bio-name {
    font-weight: bold;
    font-size: 21px;
}

.profile-bio-edit-btn {
    border: none;
    padding: 0.55rem 1.1rem;
    background-color: rgba(29, 160, 242, 0.815);
    color: #F5F8FA;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 25px;
    position: relative;
    top: 14px;
    outline: 0;
}

.profile-bio-edit-btn:hover {
    background-color: #1DA1F2;
}

.profile-bio-edit-btn:focus {
    background-color: #1DA1F2;
}

.profile-tweets { 
    position: relative;
    top: 15px;
    left: 80px;
    width: 590px;
    background-color: #F5F8FA;
}

.profile-tweets-heading {
    height: 44px;
}

.profile-tweets-heading:hover {
    background-color: #F5F8FA;
}

.profile-tweets-heading td {
    height: 44px;
    padding: 0;
}

.profile-tweets-heading div p {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    position: relative;
    left: 15px;
    cursor: default;
    
}

.profile-tweets tbody {
    border-bottom: 1px solid lightgray;
}

.profile-tweets tbody:hover {
    background-color: rgba(225, 232, 237, 0.31);
}

.profile-tweets tbody:hover .profile-tweet-like-btn {
    background-color: rgba(225, 232, 237, 0.31);
}

.profile-tweets tbody:hover .profile-tweet-reply-btn {
    background-color: rgba(225, 232, 237, 0.31);
}

.profile-tweets tr {
    border: none;
}

.profile-tweet-row1 {
    height: 30px;
    cursor: pointer;
}

.profile-tweet-row1 div {
    height: 1px;
    position: relative;
    bottom: 2px;
}

.profile-tweet-row2 {
    cursor: pointer;
}

.profile-tweet-row2 div {
    position: relative;
    bottom: 10px;
}

.profile-tweet-row3 div {
    height: 1px;
    position: relative;
    bottom: 20px;
}

.profile-tweet-author {
    font-weight: bold;
}

.profile-tweet-date {
    font-size: 15px;
    color: #657786;
}

.profile-tweet-date:hover {
    color: #1DA1F2;
}

.profile-tweet-content {
    word-wrap:break-word;
    width: 500px;
}

.profile-tweet-reply-btn {
    border: none;
    padding: 0rem 0rem;
    background-color: #F5F8FA;
    color: #657786;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.profile-tweet-reply-btn:hover {
    color: rgb(111, 219, 125);
}

.profile-tweet-reply-btn:focus {
    background-color: rgba(225, 232, 237, 0.31);
}

.profile-tweet-like-btn {
    border: none;
    padding: 0rem 0rem;
    background-color: #F5F8FA;
    color: #657786;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    right: 90px; 
}

.profile-tweet-like-btn:hover {
    color: red;
}

.profile-tweet-like-btn:focus {
    background-color: rgba(225, 232, 237, 0.31);;
}

.profile-tweet-delete {
    font-size: 10px;
    color: lightgray;
    position: relative;
    top: 1px;
    left: 85px;
}


/* ********************************************** */
/*                PROFILE FOLLOW                  */
/* ********************************************** */

.following-grid {
    display: grid;
    grid-gap: 0%;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    position: relative;
    left: 50px;
}

.profile-following {
    padding: 0;
}

.profile-following tr {
    border-bottom: none;
}

.profile-following td { 
    padding-top: 5px; 
} 

.profile-following .feed-user-head { 
    height: 162px;
}

.profile-following .feed-user-stats p {
    font-size: 14;
    font-weight: normal;
}
.profile-following .feed-user-stats {
    word-break: break-all;
}

.no-stat { 
    position: relative;
    right: 260px;
}


/* ********************************************** */
/*                     SEARCH                     */
/* ********************************************** */

.search-header {
    background-color: #1DA1F2;
    color: #F5F8FA;
    height: 64px;
    position: relative;
}

.search-header p {
    font-weight: bold;
    font-size: 28px;
    position: relative;
    left: 370px;
    bottom: 15px;
    float: left;
}

.search-people-container-out {
    text-align: center;
}

.search-people-container {
    display: inline-block;
    width: 602px;
}

.search-people-heading {
    width: 93%;
    display: inline-block;
    height: 35px;
}

.search-people-heading p {
    font-weight: bold;
    font-size: 18px;
    float: left;
    position: relative;
    bottom: 5px;
}

.table-container-out {
    text-align: center;

}

.table-container-out .table-container {
    display: inline-block;
}

.table-container-out .profile-tweets {
    position: relative;
    left: 10px;
}

.search-people-grid {
    display: grid;
    grid-gap: 0%;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.search-people-grid .profile-following {
    position: relative;
    right: 17px;
}

.search-no-tweets {
    position: relative;
    font-weight: bold;
    font-size: 16px;
}


/* ********************************************** */
/*                 LOG IN PAGE                    */
/* ********************************************** */

.login-container {
    width: 100vw;
    height: calc(100vh - 46px);
}

.login-left {
    overflow: hidden;
    height: calc(100vh - 46px);
    width: 50vw;
    float: left;
    overflow-y: hidden;
    background-color: #1DA1F2;
}

.login-left img {
    position: relative;
    overflow: hidden;
    bottom: 580px;
    right: 120px;
}

.login-left-slogans {
    text-align: left;
}

.login-left-slogans i {
    position: relative;
    top: 18px;
    font-size: 47px;
}

.login-left p {
    color: white;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    bottom: 1700px;
    left: 300px;
}

.login-right {
    height: calc(100vh - 46px);
    overflow-y: hidden;
    width: 50vw;
    background-color: white;
    float: right;
    text-align: center;
}

.login-right form p {
    padding-right: 10px;
    width: 25%;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.login-btn {
    border: 1px solid #1DA1F2;
    padding: 0.85rem 1rem;
    background-color: white;
    color: #1DA1F2;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 25px;
}

.login-btn:hover {
    background-color: rgba(29, 160, 242, 0.15);
}

.login-btn:focus {
    background-color: #1DA1F2;
    color: white;
}

.login-right-slogans {
    position: relative;
    width: 350px;
    text-align: left;
    top: 170px;
    left: 200px;
}

.login-right-slogans img {
    position: relative;
    bottom: 20px;
    right: 25px;
}

.login-right-slogans p {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.login-right-slogans span {
    font-size: 26px;
    bottom: 100px;
    position: relative;
    bottom: 30px;
}

.register {
    width: 400px;
}


.register-btn button {
    border: none;
    padding: 0.55rem 10rem;
    background-color: rgba(29, 160, 242, 0.815);
    color: #F5F8FA;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 25px;
}

.register-btn button:hover {
    background-color: #1DA1F2;
}

.register-btn button:focus {
    background-color: #1DA1F2;
}

/* ********************************************** */
/*                    MEDIA                       */
/* ********************************************** */

@media only screen and (max-width: 1400px) {

    .profile-tweet-stat {
        margin-left: 530px;
    }

    .profile-follow-btn {
        padding-right: 250px;
    }

    .profile-pic-bio {
        margin-left: 200px;
    }
 
    .profile-tweets {
      left: 110px;
    }

    .following-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    .login-left p {
        left: 0px;
    }
}

@media only screen and (max-width: 1200px) {

    .profile-tweet-stat {
        margin-left: 430px;
    }

    .profile-follow-btn {
        padding-right: 250px;
    }
 
    .profile-pic-bio {
      margin-left: 100px;
    }

    .profile-tweets {
        left: 110px;
    }

    .login-left p {
        left: 0px;
    }
}

@media only screen and (max-width: 600px) {

    .profile-tweet-stat {
        margin-left: 430px;
    }

    .profile-follow-btn {
        padding-right: 250px;
    }

    .profile-pic-bio {
        margin-left: 100px;
    }

    .profile-tweets {
        left: 110px;
    }

    .header-stats-ul li {
        position: relative;
        bottom: 8px;
    }

    .header-stats-ul li a{
        position: relative;
        height: 50px;
        top: 1px;
    }

    .header-stats-ul li p{
        position: relative;
    }

}
